{
  "presets": ["env", "react", "stage-3"],
  "plugins": [
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "regenerator": true
      }
    ],
    "react-hot-loader/babel"
  ]
}
