* {
  box-sizing: border-box;
}
html {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.15;
  min-width: 320px;
}
b, strong { 
  font-weight: 500;
}
body {
  background-color: #f2f1ea;
  margin: 0;
  min-width: 320px;
}
 .logo {
  max-width: 170px;
}
.mascot-image {
  height: 85px;
  width: 80px;
}
@media only screen and (max-width: 650px) {
  .mascot-image {
    height: 70px;
  }
}
@media only screen and (max-width: 486px) {
  .mascot-image {
    width: 65px;
  }
}
#logo {
  text-decoration: none;
}
.wayback-logo {
  position: relative;
  top: -3px;
  width: 100px;
}
@media only screen and (max-width: 486px) {
  .wayback-logo {
    width: 72px;
    height: 20px;
  }
}
.built-info {
  display: flex;
  align-items: center;
  color: #333;
  position: relative;
  top: 5px;
  left: -50px;
}
@media only screen and (max-width: 486px) {
  .built-info {
    font-size: 10px;
  }
}
header {
  padding: 20px;
}
header > section {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.inline {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  min-height: 200px;
}
@media only screen and (max-width: 670px) {
  .intro {
    margin-top: auto;
  }
}
@media only screen and (max-width: 486px) {
  .intro {
    min-height: auto;
  }
}
.bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0.9);
}
@media only screen and (max-width: 1242px) {
  .bubble {
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 486px) {
  .bubble {
    transform: none;
  }
}
.bubble > span {
  font-family: "Fira Code";
  font-size: 14px;
  line-height: 23px;
  position: relative;
  padding: 0 15px;
}
@media only screen and (max-width: 486px) {
  .bubble > span {
    /* font-size: 12px;
    line-height: 18px; */
    font-size: 13px;
    line-height: 20px;
    background: #F8F7F7;
    border: 1px solid #333;
    padding: 8px;
  }
}
.link {
  color:#864D23;
  border-bottom: 1px dashed;
  text-decoration: none;
}
.intro-bubble {
  background-image: url("../images/intro-bubble.svg");
  margin-top: 3px;
  height: 97px;
  width: 396px;
}
.intro-bubble > span {
  top: 10px;
}
@media only screen and (max-width: 486px) {
  .mascot-image {
    display: none;
  }
  .intro-bubble {
    display: none;
  }
}
.switch-bubble {
  background-image: url("../images/switch-bubble.svg");
  height: 72px;
  width: 400px;
}
.lead {
  margin-top: 22px;
  margin-bottom: 30px;
  max-width: 650px;
  color: #5a5049;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.highlight {
  color:#864D23;
}
@media only screen and (max-width: 670px) {
  .lead {
    width: 90%;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 670px) {
  .lead {
    font-size: 1.3rem;
    line-height: 28px;
  }
}
.download {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.download-firefox {
  margin-right: 25px;
}
.usage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.usage > h1 {
  color: #864d23;
  font-size: 30px;
}
.usage > img {
  height: 40px;
}
.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3fa39a;
  border-radius: 2px;
  border: 2px solid #f4df1a;
  cursor: pointer;
  width: 190px;
  height: 50px;
  text-decoration: none;
}
.download-btn--firefox {
  background: #c1563c;
}
.download-btn > .text {
  color: #ffffff;
  font-family: "Fira Code";
  font-weight: 500;
  font-size: 14px;
}
@media only screen and (max-width: 486px) {
  .download-btn {
    width: 140px;
    height: 45px;
  }
  .download-btn > .text {
    font-size: 12px;
  }
}
.download-btn > .icon {
  width: 35px;
  padding-left: 13px;
}
.download-btn:hover {
  background: #389890;
}
.download-btn--firefox:hover {
  background: #bb482c;
}
.screencast {
  align-items: center;
  margin-top: 45px;
}
.screencast-message {
  font-size: 11px;
  margin-top: 5px;
  color: #555;
}
@media only screen and (max-width: 600px) {
  .screencast-message {
    font-size: 0.4rem;
    width: 90%;
  }
}
.screencast > video {
  width: 1100px;
  border-radius: 3px;
}
@media only screen and (max-width: 1242px) {
  .screencast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .screencast > video {
    width: 90%;
  }
}
.overlap {
  background-color: #eae9e3;
  margin-top: -150px;
  width: 100%;
}
.switch {
  min-height: 420px;
  padding-top: 250px;
  padding-bottom: 60px;
}
.switch > .group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 400px;
}
.switch-image {
  width: 90%;
  max-width: 700px;
}
@media only screen and (max-width: 1242px) {
  .switch > .group {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .switch-bubble {
    background-image: url("../images/bubble.svg");
    height: 86px;
    width: 350px;
    transform: scale(0.8) translate(2%, -10px);
    margin-top: 15px;
  }
  .switch-bubble > span {
    top: 10px;
  }
}
@media only screen and (max-width: 486px) {
  .switch {
    padding-top: 150px;
    padding-bottom: 0;
  }
  .switch-bubble {
    transform: none;
    background: none;
    width: 90%;
    max-width: 350px;
  }
}
.browser-image {
  height: 80px;
}
@media only screen and (max-width: 486px) {
  .browser-image {
    width: 90%;
    height: auto;
  }
}
.controls-image {
  height: 242px;
}
.history-image {
  width: 100%;
  height: 240px;
  max-width: 705px;
}
.controls-bubble {
  background-image: url("../images/controls-bubble.svg");
  position: relative;
  height: 92px;
  width: 342px;
  left: -90px;
  top: 10px;
}
.controls-bubble > span {
  top: 14px;
}
@media only screen and (max-width: 486px) {
  .controls-bubble {
    transform: none;
    background: none;
    width: 90%;
    max-width: 350px;
  }
}
.history-bubble {
  background-image: url("../images/history-bubble.svg");
  height: 89px;
  width: 410px;
  position: relative;
  right: -270px;
  top: 15px;
}
.history-bubble > span {
  top: 12px;
}
@media only screen and (max-width: 486px) {
  .history-bubble {
    transform: none;
    background: none;
    width: 90%;
    max-width: 350px;
  }
}
.features {
  min-height: 420px;
  padding: 80px 0;
}
.features-t-panel {
  display: flex;
  margin-bottom: 100px;
  padding-left: 12%;
}
.features-u-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 90px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.features-l-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 1242px) {
  .features {
    padding: 50px 0;
  }
  .features-t-panel {
    display: flex;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .features-l-panel {
    margin-bottom: 40px;
  }
  .features-u-panel {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .column {
    align-items: center;
  }
  .history-column {
    margin-top: 70px;
  }
  .controls-bubble {
    left: 0;
  }
  .history-bubble {
    right: 0;
  }
  .history-image {
    width: 90%;
    height: auto;
  }
}
.drawer-image {
  max-width: 900px;
  width: 90%;
}
.drawer-bubble {
  background-image: url("../images/drawer-bubble.svg");
  height: 104px;
  width: 415px;
  position: relative;
  top: 15px;
}
.drawer-bubble > span {
  top: 15px;
}
@media only screen and (max-width: 486px) {
  .drawer-bubble {
    transform: none;
    background: none;
    width: 90%;
    max-width: 350px;
  }
}
.browser-bubble {
  background-image: url("../images/browser-bubble-left.svg");
  position: relative;
  height: 59px;
  width: 388px;
  top: 15px;
}
.browser-bubble > span {
  top: 0px;
  left: 19px;
}
@media only screen and (max-width: 1242px) {
  .browser-bubble {
    background-image: url("../images/history-bubble.svg");
    height: 89px;
    width: 390px;
    transform: scale(0.8) translate(2%, -10px);
    margin-top: 5px;
  }
  .browser-bubble > span {
    left: 10px;
    top: 12px;
  }
}
@media only screen and (max-width: 486px) {
  .browser-bubble {
    transform: none;
    background: none;
    width: 90%;
    max-width: 350px;
    margin-top: 0;
    top: 0;
  }
}
@media only screen and (max-width: 396px ) {
  .history-bubble {
    height: 89px;
    max-width: 338px;
    width: 100%;
  }
  .history-bubble > span {
    top: 5px;
  }
}
.historical {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fdf6e2;
  padding: 50px 100px 100px 100px;
}
@media only screen and (max-width: 1242px) {
  .historical {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 486px) {
  .historical {
    padding-bottom: 70px;
  }
}
.title {
  font-family: "Fira Code";
  color: #864d23;
  font-size: 17px;
  font-weight: 500;
}
.historical-image {
  width: 80%;
  margin-top: 30px;
  border-radius: 3px;
}
.historical-bubble {
  background-image: url("../images/historical-bubble.svg");
  height: 111px;
  width: 442px;
  position: relative;
  top: 15px;
}
.historical-bubble > span {
  top: 15px;
}
@media only screen and (max-width: 486px) {
  .historical-bubble {
    transform: none;
    background: none;
    width: 90%;
    max-width: 350px;
  }
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
}
.faq-wrapper {
  padding: 30px 0 0 0;
  max-width: 600px;
  width: 90%;
}
.faq-details {
  background-color: white;
  border: 1px solid #c7c7c7;
  margin: 0 auto 15px;
  padding: 10px 10px;
}
.faq-summary {
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
.faq-details > p {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding: 0 10px;
}
.faq-details ul {
  padding: 0 10px 0 20px;
}
.faq-details li {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding: 7px 0;
}
.action {
  background: #F7FAF5;
}
@media only screen and (max-width: 486px) {
  .action {
    display: none;
  }
}
.action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/moebius.png");
  background-size: 100% 400px;
  background-position-y: -50px;
  min-height: 350px;
  padding-top: 7px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 1000px) {
  .action-container {
    background-position-y: 0;
    background-size: cover;
  }
}
.action-container > .message {
  background: #F8F7F7;
  border: 1px solid #73614C;
  border-radius: 3px;
  padding: 15px 20px 5px 20px;
  font-size: 14px;
  font-family: "Fira Code";
  color: #333;
  line-height: 24px;
  max-width: 600px;
  margin-bottom: 10px;
}
.action-container .download {
  margin-top: 10px;
}
@media only screen and (max-width: 486px) {
  .action-container .download {
    margin-top: 0;
  }
}
.footer {
  display: flex;
  align-items: center;
  background-image: url("../images/pattern.png");
  background-repeat: repeat-x;
  background-size: 20px;
  min-height: 90px;
}
.footer > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}
.author-built-info {
  display: flex;
  flex-direction: column;
}
.author-built-info > .built {
  display: none;
}
.author-built-info > .built > img {
  top: 10px;
}
@media only screen and (max-width: 486px) {
  .author-built-info > .built > img {
    top: 5px;
  }
}
@media only screen and (max-width: 1242px) {
  .footer > .wrapper {
    padding: 0 2%;
  }
}
@media only screen and (max-width: 486px) {
  .author-built-info > .built > img {
    top: 5px;
  }
  .footer > .wrapper {
    padding: 0 8%;
  }
}
@media only screen and (max-width: 670px) {
  .built-info {
    display: none;
  }
  .author-built-info {
    padding: 20px 0;
  }
  .author-built-info >  .built {
    display: block;
  }
}
@media only screen and (max-width: 486px) {
  .author-built-info >  .built {
    display: none;
  } 
}
.avatar-image {
  width: 25px;
  position: relative;
  top: 7px;
}
.author {
  font-size: 13px;
  color: #555;
  width: 185px;
}
.author > a,
.source > a {
  color: #864d23;
  text-decoration: none;
}
.source {
  display: flex;
  align-items: flex-end;
  font-size: 13px;
  height: 25px;
  color: #555;
}
.source img {
  margin: 0 2px 0 4px;
  position: relative;
  top: 4px;
}
@media only screen and (max-width: 370px) {
  .source img {
    display: none;
  }
}
@media only screen and (max-width: 1316px) {
  .ph {
    margin-right: 5%;
  }
  .ph > img {
    width: 200px !important;
    height: 45px !important;
  }
}

@media only screen and (max-width: 670px) {
  .ph {
    position: absolute;
    left: 70px;
  }
}